* body{
    background-color: #FFFFFF;

    }
    ul {
        list-style-type: none;
    }
a {text-decoration: none;}
.title-h2, .title-h3{
     color: #212121; 
}
.text{
    color: #757575; 

}
/* HEADER */
.logo-web{
    color: #2196F3; 
}
.logo-studio{
    color: #212121;
}
.nav-header{
    color: #212121;
}
.nav-header:hover, .nav-header:focus{
    color: #2196F3;
}
.site-nav .nav-header.current{
    color:  #2196F3;
} 
.connection-header{
color: #757575; 
}
.connection-header:hover, .connection-header:focus{
  color: #2196F3;  
}
/* HERO */
.hero{
    background-color: #2F303A;;
}
.hero-text{
    color: #FFFFFF;  
}
.buton-hero{
    background-color: #2196F3;
}
.buton-hero-text{
    color: #FFFFFF;
}

/* TEAM */
.team{
    background-color: #F5F4FA;;
}
/* FOOTER */
.footer{
    background-color: #2F303A;
}
.footer-studio{
    color: #FFFFFF;
}
.address{
    color: #FFFFFF;
}
.address:hover, .address:focus{
    color: #2196F3;  
  }
.connection-footer{
    color: rgba(255, 255, 255, 0.6);
}
.connection-footer:hover, .connection-footer:focus{
    color: #2196F3;  
  }
  /* PORTFOLIO */
 .portfolio-nav>h3>a{
      width: 130px;
      height: 38px;
      background-color: #F5F4FA;
      color: #212121;
      padding: 6px;
      padding-right: 22px;
      padding-left: 22px;
      border-radius: 4px;
      }

.portfolio-nav>h3>a:hover,
.portfolio-nav>h3>a:focus{
background-color: #2196F3;
color: #FFFFFF;
}
